@model List<mars_rover_models.ViewModels.GalleryImages>
@{
    ViewData["Title"] = "Image Gallery";
}

<div class="text-center">
    <h1 class="display-4">Image Gallery.</h1>
    <p>Click on individual image to view the full picture.</p>

    @foreach(var galleryImage in Model)
    {
        <div class="responsive">
            <div class="gallery">
                <a target="_blank" href='@Url.Action("Download", "Gallery", new { id = galleryImage.Id })'>
                    <img alt='@galleryImage.Title' width="200" height="200" src='@Url.Action("Download", "Gallery", new { id = galleryImage.ThumbnailId })'>
                </a>
                <div class="desc">@galleryImage.Title</div>
            </div>
        </div>
    }


</div>
